</section>
<footer class="p-4 text-white bg-gray-900">
  <section>
    <p>Developed by:</p> 
    <ul class="flex flex-wrap gap-3 text-blue-500">
      <li>
        <a href="https://github.com/ArnoldPires">Arnorld Pired</a>
      </li>
      <li>
        <a href="https://github.com/JKC-Codes">John Kemp-Cruz</a>
      </li>
      <li>
        <a href="https://github.com/ivel6482">Ilder V&eacute;lez</a>
      </li>
      <li>
        <a href="https://github.com/jocantu">Joel C</a>
      </li>
      <li>
        <a href="https://github.com/elloveronika">elloveronika</a>
      </li>
      <li>
        <a href="https://github.com/HuseyinBeller">H&uuml;seyin Beller</a>
      </li>
    </ul>
  </section>
  <p>&copy; 2021</p>
</footer>
</body>
</html>
