<%- include('partials/header') -%>
    <form method="post" action="/signup">
        <label for="userName">User Name:</label>
        <input type="text" name="userName">
        <label>Email: <input type="email" name="email"></label>
        <label>Password: <input type="password" name="password"></label>
        <label>Confirm Password: <input type="password" name="confirmPassword" autocomplete="false"></label>
        <button type="submit">Submit</button>
    </form>
<%- include('partials/footer') -%>